<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" href="resources/css/boleto.css"/>
        <h:outputStylesheet library="css" name="boleto.css"/>

    </h:head>
    <h:body>
        <p:growl id="growl">
            <p:autoUpdate/>
    </p:growl>
    <h:form id="formHola">
        
        <div>
            <p:commandButton update="formHola" value="consultar" actionListener="#{bean_tiquete.consultarTike(bean_tiquete.codigoBarra)}"/>
            <img  src="../resources/images/boleto.png" style="width: 220px; height: 120px;" />
        </div>
        <div>
            <h1></h1>
            <div class="div1">
                <header id="h1">

                    <h3 id="h3"><img src="../resources/images/icono.png" id="logo"/>Air Fic</h3>
                    
                </header>
                <div>
                    <pre>

<label>Vuelo:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.tiquete.desdeHacia.tipoVuelo.vuelo}"></p:outputLabel>                                                                            

<label>Fecha:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.fecha_vuelo}"></p:outputLabel> <label>    Hora:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.hora_salida}"></p:outputLabel>                                                                                     

<label>Lugar:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.tiquete.desdeHacia.idOrigenDestino.idOrigen.nombre}"></p:outputLabel>                                                                                               

<label>Destino:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.tiquete.desdeHacia.idOrigenDestino.idDestino.nombre}"></p:outputLabel>                                      
                    </pre>
                    <div id="div2">

                        <p:barcode value="#{bean_tiquete.codigo2}" type="code39" />

                    </div>
                </div>
            </div>   
            <div id="div4" class="opa">
                <div>
                    <header id="h2">
                        <h3 id="h3">AirFic <img src="../resources/images/icono.png" id="logo" /></h3>
                    </header>
                    <pre>
    <label>Name:___</label>        <p:outputLabel class="letrauno" value="#{bean_tiquete.tiquete.idPasajero.nombreUno}  #{bean_tiquete.tiquete.idPasajero.apellidoUno}"/>

    <label>Vuelo:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.tiquete.desdeHacia.tipoVuelo.vuelo}"></p:outputLabel>

    <label>Fecha:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.fecha_vuelo}"/><label>    Hora:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.hora_salida}"></p:outputLabel>

    <label>Lugar:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.origen}"></p:outputLabel> 

    <label>Destino:___</label><p:outputLabel class="letrauno" value="#{bean_tiquete.destinop}"></p:outputLabel>

                    </pre>
                    <div id="div3">
                        <p:barcode  value="123456789123456789123456789" type="code39"/>


                    </div>
                </div>
            </div>
        </div>

    </h:form>
</h:body>
</html>

