<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Recuperar contraseña</title>
        <h:outputStylesheet library="css" name="login.css"/>
        <h:outputScript library="script" name="custom.js"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
              <link rel="shortcut icon"  href="#{request.contextPath}/resources/images/icono.ico"/>

    </h:head>
    <h:body onload="nobackbutton();">
        <p:growl>
            <p:autoUpdate/>
        </p:growl>
        <body class="align">
            <div class="grid">
                <acronym title="Inicio"> <a href="index.xhtml?faces-redirect-true"><p:graphicImage name="logo.png" library="images" id="imag"/></a></acronym>
                <h:form  class="form login">
                    <div class="form__field">
                        <label for="login__username" class="background-icons-dark"><i class="fas fa-user-circle"></i>
                            <span class="hidden"></span>
                        </label>
                        <acronym title="Usuario">
                            <p:inputText id="login__username" required="true" requiredMessage="Usuario es requerido" type="text" class="form__input" placeholder="Usuario" value="#{bean_recuperacion.l.usuario}" style="border: none;background: white !important;width: 300px;"/>
                        </acronym>
                    </div>
                    <br/><BR/>
                    <div class="form__field">
                        <label for="login__password" class="background-icons-dark"><i class="fas fa-check"></i>
                            <span class="hidden">Questions</span>
                        </label>
                        <acronym title="Pregunta de seguridad">
                            <p:selectOneMenu  style="border: none;margin-top: -16px;width: 300px;" value="#{bean_recuperacion.l.pregunta}">
                                <f:selectItem itemLabel="Seleccione"/>
                                <f:selectItem itemLabel="¿Cual es su año de nacimiento?" itemValue="¿Cual es su año de nacimiento?"/>
                                <f:selectItem itemLabel="¿Cual fue su primera mascota?" itemValue="¿Cual fue su primera mascota?"/>
                                <f:selectItem itemLabel="¿Cual fue programa de television favorito?" itemValue="¿Cual fue programa de television favorito?"/>
                            </p:selectOneMenu>
                        </acronym>
                    </div>
                    <br/><br/>
                    <div class="form__field">
                        <label for="login__password" class="background-icons-dark"><i class="fas fa-check"></i>
                            <span class="hidden">Answer</span>
                        </label>
                        <acronym title="Respuesta">
                            <p:inputText  required="true" requiredMessage="Respuesta es requerida"   class="form__input" placeholder="Respuesta" value="#{bean_recuperacion.l.respuesta}" style="border: none;background: white !important;width: 300px;"/>
                        </acronym>
                    </div><br/><br/>
                    <div class="form__field" style="border: none;">
                        <p:commandButton actionListener="#{bean_recuperacion.recuperar()}" value="Validate" style="border: none;"/>
                    </div>
                    <br/><br/>
                </h:form>
            </div>
            <footer>
                <hr id="line"/>
                <br/>
                <div id="copiri">
                    All rights reserved | AirFic™ 2019  
                </div>

            </footer>
        </body>
    </h:body>
</html>

